.fila{
    height: 60px;
    margin: 0px 0px;
    padding: 0px 0px;
}

.elemento{
    margin: 0px 0px;
    float: left;
    padding: 0px 0px;
    border: 1px solid #000;
}

.elemento-d{
    margin: 0px 0px;
    padding: 0px 0px;
    float: right;
    border: 1px solid #000;
}


.filacuadrito{
    margin: 0px 0px;
    padding: 0px 0px;
    float: left;
    height:60px ;
}

.contenedor{
    height: 18px;
    width: 130px;
    margin: 0px 0px 10px;
}

.chiqui{
    width: 18px;
    height: 18px;
    border: 1px solid #000;
}

.letrainterna{
    font-size: 10px;
    font-weight: bold;
    margin: -17px 0px 0px 30px;
}

.borde{
    border: 1px solid #000;
}


.simbolo{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.numero{
    float: left;
    font-size: 12px;
    font-weight: bold;
}

.masa{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.nombre{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.animacion{
    cursor: pointer;
    transition: trasnform 0.3s;

}

.animacion:hover{
    transform: scale(2.2);
}


.imagen{
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 30px 0px 0px 400px;
}

.imagen-container{
    position: relative;
}

.titulo{
    margin-bottom: 30px;
}