
/* Estilo para las celdas vacías */

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.container {
    height: auto;
    width: auto; /* Cambiar a 'auto' para que se adapte al contenido */
    border: 2px solid #000;
    margin-top: 30px;
    padding: 10px 20px 1px 20px;
    /* Añade display flex */
    display: flex;
    overflow: auto;
    /* Ajusta la dirección de flexbox según sea necesario */
    flex-direction: column; /* Para una disposición vertical */
}


.espacio-deiz{
    margin: 0 4px 0 4px;
}

.separacion{
    padding: 20px 0px 0px 0px;
    
}



.color-fondo{
    background-color: #4CAF50;
    
}
.letra-blanca{
    color: #ec0c0c;
}


.cell {
    border: 1px solid #030303;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 108px;
    flex: 0 0 108px;
    font-size: 14px;
    font-weight: bold; 
}
.columnas {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 108px;
    flex: 0 0 108px;
    font-size: 14px; 
    font-weight: bold; 
}

