
/* Estilo para las celdas vacías */

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.container {
    height: auto;
    width: auto; 
    border: 2px solid #000;
    margin-top: 30px;
    padding: 20px 20px 20px 35px;
   
    display: flex;
    
   
    flex-direction: column; 
}


.espacio-deiz{
    margin: 0 4px 0 4px;
}

.separacion{
    padding: 20px 0px 0px 0px;
    
}



.color-fondo{
    background-color: #4CAF50;
    
}
.letra-blanca{
    color: #ec0c0c;
}


.cell {
    border: 1px solid #030303;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 53px;
    flex: 0 0 53px;
    font-size: 8px;
    font-weight: bold; 
}
.columnas {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 53px;
    flex: 0 0 53px;
    font-size: 8px; 
    font-weight: bold; 
}

