

.simbolo {
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    
    
    
}


.nombre {
   
    text-align: center;
    width: 60px;
    float: left;
    font-size: 10px;
    font-weight: bold;
}

.numero {
    float: left;
    font-size: 10px;
    font-weight: bold;
   
    
}


.masa {
    float: right;
    font-size: 10px;
    padding: 0px 15px ;
    font-weight: bold;
    
    
}

.container{
    display: flex;
    flex-wrap: wrap; /* Esto permite que los elementos se envuelvan a la siguiente línea si no caben en una fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    min-height: 100vh;
   
    background-color: #ffacac;
}

.fila, tr{
    flex-wrap: nowrap;
    cursor: pointer;
    transition: transform 0.3s; 
    padding: 0px 0px ;
    margin: 0px 0px ;
    
   
}


.h{
    font-weight: bold;
    height: 22px;
    width: 130px;
    margin: 0px 0px 8px;
}
.chiqui{
   
    height: 22px;
    width: 22px;
}

.imagen {
    position: absolute;
   
    width: 80px; 
    height: 80px; 
}
.imagen-container {
    position: relative;
}


 .fila2,tr{
    flex-wrap: nowrap;
    float:left;
    padding: 0px 0px ;
    margin: 0px 0px ;
    border: 2px solid #fff;
    cursor: pointer;
    transition: transform 0.3s; 
    height: 60px;
  
 }
 .tr:hover {

    transform: scale(5.5);
}

.fila2-iz, tr{
    flex-wrap: nowrap;
    padding: 0px 0px;
    margin: 0px 0px ;
    height: 60px;
 
    float: right;
    cursor: pointer;
    transition: transform 0.3s; 
    border: 2px solid #fff;
}


.separacion{
    margin-top: 30px;
    
}


.metales{
    background-color: #cccccc;
    box-shadow:inset 0px 0px 30px rgba(0, 0, 0, 0.5);
}


.amarillos{
    background: linear-gradient(135deg, #ffee04, #ff8c00);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.amarillos2{
    background-color: #19a5e6;
    box-shadow: inset 0px 0px 30px rgba(5, 61, 40, 0.5);
}

.mg1{
    background: linear-gradient(135deg, #800080, #ff0000);
    box-shadow: inset 0px 10px 20px rgba(228, 212, 212, 0.3);
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.rojo{
    background-color: #ff0000; 
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    color: white;


}

.azul{
    background: linear-gradient(#2632d1, #54aaff);
    box-shadow: inset 0px 10px 20px rgba(80, 128, 218, 0.5);
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.naranja{
    background: linear-gradient(135deg, #fddb18, #ff4500);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.rosa{
    background: linear-gradient(#FFB6C1, #FF69B4);
    font-weight: bold;
    
}

.cafe{
    background: linear-gradient(#d3a05d, #8a4e23);
    font-weight: bold;
     
}


.verde{
    background: linear-gradient(#98FB98, #006400); 
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.titulo {
    margin: 0px 0px 40px 0px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s; 
  }
  
  .titulo:hover {
    transform: scale(1.1); 
  }



  .letraInterna{
    display: flex;
    margin: -20px 0px 0px 30px;
    font-size: 10px;
   
  }