.container{
  
    float:inherit;
    width: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .seleccion{
        background-color: rgb(245, 255, 107);
        font-weight: bold;
        border: 1px solid #000
    }

    .seleccion2{
        background-color: rgb(45, 238, 132);
        font-weight: bold;
        border: 1px solid #000
    }

    .seleccion3{
        background-color: rgb(111, 0, 255);
        font-weight: bold;
        border: 1px solid #000
    }
    
   
    .table{
        background-color: #fff;
        border: 1px solid#000; 
        width:300px; 
        margin:5px;
       
     
    }
    
    .cabeza{
        background-color: #3567ee;
    }    
    
    .borde{
        border: 1px solid #000
    }

};



